<div class="dialog-content-wrapper">
  <div class="container-fluid">
      <main role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div>
              <h1 class="h2">Account Edit</h1>
            </div>
            <div class="flex-row-reverse">
              <button mat-button class="mat-icon-button" (click)="close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
              </button>
            </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div>
                  <form name="editForm" [formGroup]="editForm" novalidate>
                      <div class="row">
                          <mat-form-field class="col-3">
                              <input matInput placeholder="ID" formControlName="account_id" required [(ngModel)]="account_id">
                          </mat-form-field>
                          <mat-form-field class="col-9">
                              <input matInput placeholder="email" formControlName="account_email" required [(ngModel)]="account_email">
                          </mat-form-field>
                      </div>
                  </form>
              </div>
          </div>
          <div class="card-footer">
              <div class="row">
                  <button class="mat-raised-button mat-primary m-3">Close</button>
                  <button class="mat-raised-button mat-primary m-3">Save</button>
              </div>
          </div>
        </div>
      </main>
  </div>

</div>


