<div class="dialog-content-wrapper">
  <div class="container-fluid">
    <main role="main">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
          <h1 class="h2">Account Top Up</h1>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <mat-list>
            <mat-list-item class="row">{{account_id}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="row">{{account_email}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="row pt-3">
              <form name="topUpForm" novalidate>
                <mat-form-field>
                  <input matInput placeholder="Top Up" />
                </mat-form-field>
              </form>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="card-footer">
          <div class="row">
            <button class="mat-raised-button mat-primary m-3" (click)="close()">Close</button>
            <button class="mat-raised-button mat-primary m-3">Top Up</button>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>


